/* ----------------------- */
/* HERO CAROUSEL */
/* ----------------------- */

.hero-carousel{
    position: relative;
    display: grid;
    grid-template-columns: calc(66.66666% - .33333 * 1.5rem - -2rem) calc(33.33333% - .66667 * 1.5rem - -0.5rem);
    gap: .5em;
}

#side-carousel{
    display: flex;
    flex-direction: column;
}

#side-carousel .title{
    color: yellow;
}

@media screen and (max-width: 960px) {
    .hero-carousel{
        grid-template-columns: 100%;
    }

    #side-carousel{
        display: none;
    }
}