

/* || dihilangin nanti kalau udah di gabung */

#main-carousel{
    /* width: 100%; */
    /* background-color: red; */
}


/* carousel card wrapper */
.main-carousel-card{
    position: relative;
    width: 100%;
}

/* card backdrop */
.carousel__backdrop img{
    width: 100%;
}

/* card content */
.carousel__content{
    padding: .8em;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
}

/* card content  addto watchlist*/

.carousel__content .addto-watchlist{
    position: relative;
}

.carousel__content .addto-watchlist svg{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3rem;
    opacity: 0.8;
}

.carousel__content .addto-watchlist img{
    width: 150px;
}

.carousel__content .addto-watchlist svg:hover{
    opacity: 1;
}

/* card content play button */

.carousel__content .play-btn{
    font-size: 5rem;
    margin: 0 .2em;
}

.carousel__content:hover .play-btn{
    color: yellow;
}
